body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: black;
  text-align: center;
}

header { 
  font-family: Arial, sans-serif;
  background-color: mediumturquoise;
  color: black;
  text-align: center;
  padding: 40px;

} 
.hover-box {
  width: 100px;
  margin: 10px auto;
  padding: 10px;
  background-color: white;
  border: 2px solid cornflowerblue;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.hover-box h3 {
  margin: 0;
}
.hover-content {
  display: none;
  margin-top: 15px;
}

.hover-box:hover .hover-content {
  display: block;
}
nav { 
  background-color: cornflowerblue;
  padding: 15px;
  text-align: left;
  font-size: 16px;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
} 
  
nav a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
